extends base.pug


block content 
    div
        p=video.description
        ul
            for hashtag in video.hashtags
                li=hashtag 
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit video &rarr;
    br
    a(href=`${video.id}/delete`) Delete video &rarr;